.fetch {
  .fetch__pokemonesContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    margin-top: 2rem;
  }

  &__h5 {
    text-align: center;
    color: gray;
    margin-top: 2rem;

    &--secondLine{
      margin-top: 1rem;
    }
  }
}
