@import "./functions";
@import "./mixins";
@import "./home";
@import "./nav";
@import "./fetch";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");

body {
  font-family: "Open Sans", sans-serif;
  max-width: pxToRem(1000px);
  margin: auto;
  padding: 0 2rem;
}

.section--displayNone{
  display: none;
}
